services:
  employee:
    build:
      context: ${APP_CONTEXT}
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}
    env_file:
      - .env
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"
    restart: unless-stopped
